<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>build_deploy1</name>
  <description>build n deploy</description>
  <remoteFS>/home/ubuntu</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>https://github.com/sujatagoudar/hello-world-war.git</host>
    <port>22</port>
    <credentialsId>build_deploy</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>build_deploy1</label>
  <nodeProperties/>
</slave>